.greenleaf {
  display: block;
  width: 100%;
  height: 60vh;
  float: none;
}
.green > h5 {
  display: block;
  margin-top: -8rem;
  font-size: 0.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  color: white;
  font-family: sen;
  float: none;
}
.green > p {
  font-size: 0.25rem;
  color: white;
  font-weight: bold;
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 2rem;
  font-family: sen;
}
.shop_Merch {
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 0.1rem;
  border-radius: 5px;
  font-family: sen;
  border: 4px solid white;
  outline: none;
  margin-left: 0.5rem;
}
.business {
  display: block;
  margin-top: 3rem;
  border: 2px solid blue;
}
.lead_time,
.warrenty,
.discriptions {
  font-size: 0.3rem;
  font-family: sen;
  text-transform: uppercase;
  text-align: center;
}
.warrenty {
  margin-top: -0.1rem;
  font-size: 0.5rem;
  font-weight: bold;
  color: rgba(36, 34, 34, 0.8);
  text-align: center;
}
.lead_time {
  display: block;
  position: relative;
  color: rgb(29, 29, 29);
}
.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.discriptions {
  display: block;
  top: -0.9rem;
  position: relative;
}
.Main_outdoor {
  color: rgba(36, 34, 34, 0.8);
  text-align: center;
  font-size: 0.5rem;
}
/* DESKTOP VIEW =========================== */
@media screen and (min-width: 814px) {
  .greenleaf {
    display: block;
    position: absolute;
    width: 100%;
    height: 70vh;
  }
  .green > h5 {
    font-size: 0.7rem;
    position: absolute;
    display: block;
  }
  .green > p {
    margin-left: 1rem;
    margin-right: 7rem;
  }
  .green > button {
    bottom: 2.5rem;
    height: 0.7rem;
  }
  .green > button:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    border: 2px solid white;
  }
  .business {
    top: 9rem;
  }
  .about_column {
    border: 1px solid rgba(36, 34, 34, 0.8);
    display: inline-grid;
    position: relative;
    width: 4rem;
    height: 4rem;
    margin-left: 0.5rem;
  }
  .about_column:hover {
    background-color: rgba(36, 34, 34, 0.8);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    transition: background-color 0.8s;
  }

  .discriptions {
    display: block;
    top: 2.1rem;
    position: absolute;
    font-size: 0.25rem;
  }
  .warrenty {
    margin-top: -0.5rem;
    font-size: 0.5rem;
  }
  .warrenty:hover {
    color: white;
  }
  .Main_outdoor {
    color: rgba(36, 34, 34, 0.8);
    text-align: center;
    font-size: 0.8rem;
  }
}
