body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 4rem;
}
.fas {
  color: black;
}
.nevbar {
  position: relative;
  font-family: "Georgia bold";
  box-shadow: 0px 10px 15px #1760ec;
  border: 5px solid rgb(235, 17, 17);
}
/* ============================MOBILE NEVBAR======================================= */
.mobile_navbar {
  font-size: 1.5rem;
  float: right;
}
.mobile_navbar_item > img {
  height: 0.5rem;
  width: 0.5rem;
  display: block;
  top: 0.3rem;
  position: absolute;
  right: 0.3rem;
}
.mobile_navbar_item {
  position: relative;
}
.mobile_navbar_dropdown {
  background-color: rgb(50, 28, 248);
  position: fixed;
  top: 0.8rem;
  opacity: 0;
  width: 100vw;
  transform: scale(0.3);
  transform-origin: top right;
  transition: transform 0.4s, opacity 0.2s;
  display: block;
  height: 100vh;
  text-align: center;
  left: 0rem;
}
.mobile_navbar_dropdown > ul {
  list-style-type: none;
  padding: 8px 0px;
}
.mobile_navbar_item:hover .mobile_navbar_dropdown {
  opacity: 1;
  transform: scale(1);
}
/* ==============================END OF MOBILE NAVBAR============================== */
.fas {
  font-size: 0.5rem;
}
.mobile_links {
  display: block;
  font-size: 0.4rem;
  float: right;
  position: fixed;
  display: block;
  right: 0.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: 0.5rem;
}
.links {
  display: none;
}
@media screen and (min-width: 835px) {
  html {
    font-size: 3.5rem;
  }
  svg {
    width: 20%;
  }
  .mobile_navbar {
    display: none;
  }
  .links {
    font-size: 0.4rem;
    position: absolute;
    display: block;
    right: 0.8rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    top: 0.3rem;
  }
  .links > a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.2rem;
  }
  .links > a:hover {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 0.1rem;
  }
  svg text {
    font-size: 0.8rem;
  }
}
.avtar {
  border-radius: 50%;
  width: auto;
  margin-top: 3px;
  height: 45px;
  position: absolute;
  left: 15px;
}
.avtar:hover {
  box-shadow: 0px 0px 10px 3px rgb(29, 29, 243);
}

svg {
  position: relative;
  height: 45px;
  width: 33%;
  left: 3rem;
  margin-left: -1rem;
}
svg text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.5rem;
  stroke-width: 2px;
  fill: transparent;
  stroke: #e0143d;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  animation: effect 7s infinite alternate;
}
@keyframes effect {
  0% {
    stroke-dasharray: 0 70%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 10%;
  }
}

.contain {
  position: relative;
  display: block;
  top: 0.9rem;
  width: 5rem;
  height: 8rem;
  background: darkcyan;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-family: "Georgia";
  border: 5px solid white;
  box-shadow: 0px 0px 10px 10px blue;
  margin-bottom: -8rem;
}
.img {
  top: 4%;
  display: block;
  position: relative;
  height: 15%;
  width: auto;
  border-radius: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid blue;
}
.contain > h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.5rem;
  text-align: center;
  position: relative;
  border-radius: 20px;
  top: 0.2rem;
  color: white;
  text-shadow: 1px 1px 10px blue;
  padding-bottom: 30;
  border-radius: 50%;
}

.line > a,
.images {
  top: 30%;
  display: inline-block;
  width: 14%;
  height: auto;
  border-radius: 50%;
  border: 2px solid blue;
  margin-left: auto;
  margin-right: auto;
  left: 19%;
  position: relative;
}
.instagram {
  background-color: white;
}
.github {
  background-color: black;
}
