body {
  padding: 0;
  margin: 2px;
  scroll-behavior: smooth;
}
html {
  font-size: 4rem;
}
@media screen and (max-width: 835px) {
  html {
    font-size: 3.2rem;
  }
  .container > text {
    font-size: 0.5rem;
  }
}
header > img {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
  border: 3px solid black;
  border-radius: 0px 40px 0px 40px;
  display: block;
  float: left;
  margin-bottom: 0.5rem;
}
header > h1 {
  color: white;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  margin-left: 1rem;
  font-size: 0.5rem;
  border-radius: 0.1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 5px 5px 10px black;
  box-shadow: 0px 0px 5px black, -5px -5px 5px black;
  background-color: black;
  margin-top: -4rem;
  float: left;
}

header > h3 {
  font-size: 0.3rem;
  padding-right: 15px;
  color: blue;
  text-shadow: 0px 0px 10px black;
  margin-top: -1rem;
  float: right;
}
.container {
  height: 3rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}
.container > text {
  line-height: 0.5rem;
  color: blue;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
  font-size: 0.4rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: -0.5rem;
  display: block;
  text-shadow: 0px 0px 20px blue;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center > a {
  text-decoration: none;
}
.first_application > h1,
.second_application > h1,
.third_application > h1 {
  text-shadow: 0px 0px 10px white;
  font-size: 0.5rem;
  font-family: "Courier New", Courier, monospacey;
}
.first_application,
.second_application,
.third_application {
  display: block;
  height: 5rem;
  width: 5rem;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  color: white;
  background-color: #222;
  border-radius: 20px;
}

/* HEADER IMAGE AND PRODUCTS  */
@media screen and (min-width: 835px) {
  header > img {
    height: 60vh;
  }
  .first_application,
  .second_application,
  .third_application {
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    border: 2px solid black;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    /* hovering with zoom */
    transition: transform 1s;
  }
  .first_application > p,
  .second_application > p,
  .third_application > p {
    text-align: center;
    font-size: 0.2rem;
    padding-bottom: 2rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px white;
  }
  .first_application:hover,
  .second_application:hover,
  .third_application:hover {
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    border: 2px solid black;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px blue;
    /* hover zoom */
    transition: backgound-color 0.8s;
    transform: scale(1.2);
  }
  #circle {
    position: absolute;
    margin-left: 1.1rem;
    margin-top: 2rem;
  }
}

.first_application > p,
.second_application > p,
.third_application > p {
  text-align: center;
  font-size: 0.5rem;
  font-weight: bolder;
  text-shadow: 0px 0px 10px white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.second_application > p {
  padding-left: 0.7rem;
}
#circle {
  display: block;
  font-size: 2.9rem;
  text-align: center;
  text-shadow: 0px 0px 10px white;
}
/* GITHUB AND IT'S MAIN LINK */
.gitback > img {
  height: 7rem;
  width: 80%;
  margin-left: auto;
  border-radius: 20px;
  margin-right: auto;
  box-shadow: 15px 10px 5px black;
  display: block;
}
.gitback > image:hover {
  transition: box-shadow 0.8s;
}
.gitback > h1,
.gitback > h4 {
  font-size: 0.3rem;
  display: flex;
  position: absolute;
  justify-content: center;
  right: -10px;
  margin-top: -7rem;
  padding-top: 30px;
  color: #fff;
  text-shadow: 2px 2px 5px white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-right: 01rem;
  margin-left: 30%;
}
.gitback > h4 {
  display: block;
  margin-left: 1rem;
  font-size: 0.3rem;
  text-align: right;
  margin-top: -5rem;
  color: white;
  text-shadow: 2px 2px 10px blue;
}
.gitback > a > input {
  display: block;
  position: absolute;
  margin-top: -2rem;
  right: 1rem;
  outline: none;
  font-size: 0.33rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  color: red;
  width: 3rem;
  height: 4%;
}
.devs_list {
  font-family: Sen, sans-serif;
  font-weight: bold;
  font-size: 0.3rem;
  margin-left: 3%;
}
.devs_list > h2 {
  margin-top: -3%;
}
.devs {
  display: block;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.devs_information > img {
  display: block ruby;
  width: 100%;
  height: 6rem;
  box-shadow: 0px 0px 10px blue;
  border-radius: 20px;
}
.devs_information > h4 {
  font-size: 0.5rem;
  font-family: "Sen";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.devs_information > a > input {
  background-color: red;
  outline: none;
  border: 2px solid red;
  color: white;
  display: block;
  margin-top: -2%;
  margin-bottom: 20px;
  width: 2rem;
  height: 30px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.devs_information > img {
  margin-top: 1rem;
  width: 5rem;
  height: 6rem;
  box-shadow: 0px 0px 10px blue;
  border-radius: 20px;
}

.all_devs {
  color: white;
  border-radius: 10px;
  background-color: #222;
  border: 2px solid #fff;
  outline: none;
  outline-offset: 0ch;
  width: 4rem;
  font-family: "Sen";
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.4rem;
  cursor: pointer;
  box-shadow: 2px 2px 10px black;
}
.all_devs:hover {
  background-color: red;
  border: 2px solid red;
}
/* LOCAL SHOP WIHT PIC */
.my_pic {
  display: block;
  margin-top: 1rem;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px black;
  z-index: 1;
}
.running_project {
  display: block;
  border: 2px solid blue;
  margin-top: 0.3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  opacity: 0.8;
}
.working_project > h1 {
  font-size: 0.5rem;
  text-align: center;
  font-family: "Sen";
}
.working_project > p {
  font-size: 0.3rem;
  font-family: sans-serif;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.name {
  font-size: 0.8rem;
  display: block;
  text-align: center;
}

@media screen and (min-width: 835px) {
  .gitback > img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 9rem;
    border-radius: 0px;
  }
  .gitback > h1,
  .gitback > h4 {
    font-size: 0.7rem;
    margin-left: 3rem;
    text-align: right;
    margin-right: 1rem;
    margin-top: -9rem;
    color: white;
    text-shadow: 0px 0px 5px blue;
  }
  .gitback > h4 {
    display: block;
    margin-left: 5rem;
    font-size: 0.4rem;
    text-align: right;
    margin-top: -6rem;
  }
  .gitback > a > input {
    width: 4rem;
    height: 6%;
    outline: none;
    color: red;
    font-size: 0.4rem;
    margin-top: -2rem;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    border: 2px solid red;
    cursor: pointer;
    margin-left: 65%;
    box-shadow: 0px 0px 10px white;
  }
  .devs_list {
    font-family: Sen, sans-serif;
    font-weight: bold;
    font-size: 0.5rem;
    margin-left: 2%;
  }
  .devs_list > h2 {
    margin-top: -0.8rem;
  }

  /* ================================ */
  .devs {
    margin-top: -1rem;
    display: inline-block;
    width: 100%;
    margin-left: 2rem;
  }
  .devs_information {
    transition: transform 2s;
    display: inherit;
  }
  .devs_information:hover {
    transition: background-color 1s;
    transform: scale(0.8);
    box-shadow: 25px 25px 10px black;
    border-radius: 30px;
    padding: 0.5rem;
  }
  .running_project {
    display: block;
    width: 70vw;
    float: right;
    margin-right: 1rem;
    border-radius: 20px;
    height: 9rem;
  }
  .my_pic {
    position: absolute;
    display: block;
    width: auto;
    float: right;
    margin-left: 10%;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 10px white;
    border-radius: 14px;
    margin-top: 1.5rem;
    height: 65%;
  }
  .working_project > h1 {
    text-align: center;
  }
  .working_project > p {
    font-size: 0.3rem;
    margin-left: 4rem;
    margin-right: 0.9rem;
  }
}
