body {
  padding: 0;
  margin: 2px;
}
html {
  font-size: 4rem;
}
@media screen and (max-width: 412px) {
  html {
    font-size: 3.2rem;
  }
  header > img {
    width: auto;
    height: 70vh;
  }
  .container > text {
    font-size: 0.5rem;
  }
}
header > img {
  width: 98%;
  margin-left: 1px;
  opacity: 0.4;
  height: 47vh;
  border: 3px solid black;
  border-radius: 0px 40px 0px 40px;
}
header > h1 {
  top: 3rem;
  color: black;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  position: absolute;
  margin-left: 1rem;
  font-size: 0.5rem;
  border-radius: 0.1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 5px 5px 10px black;
  box-shadow: 0px 0px 5px black, -5px -5px 5px blue;
}

header > h3 {
  display: block;
  position: relative;
  text-align: right;
  font-size: 0.3rem;
  top: -1rem;
  padding-right: 15px;
}
.container {
  padding: 5px;
  display: block;
  position: relative;
  top: -60px;
  font-family: "Courier New", Courier, monospace;
  line-height: 0.4rem;
  font-size: 0.5rem;
}
.container > text {
  line-height: 0.6rem;
  color: blue;
  text-transform: capitalize;
  background-color: azure;
}
.first_product > h1,
.second_product > h1,
.third_product > h1 {
  text-shadow: 0px 0px 10px white;
  font-size: 0.5rem;
  font-family: 'Courier New', Courier, monospacey;
}
.first_product,
.second_product,
.third_product {
  display: inline-flex;
  height: 5rem;
  width: 5rem;
  border: 2px solid black;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: white;
  box-shadow: 0px 0px 15px blue;
  background-color: black;
}
@media screen and (min-width: 412px) {
  .first_product,
  .second_product,
  .third_product {
    display: inline-flex;
    height: 5rem;
    width: 5rem;
    border: 2px solid black;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
  .first_product > p,
  .second_product > p,
  .third_product > p {
    text-align: center;
    font-size: 0.2rem;
    padding-bottom: 2rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px white;
  }
}
.first_product > p,
.second_product > p,
.third_product > p {
  text-align: center;
  padding-top: 1rem;
  font-size: 0.5rem;
  font-weight: bolder;
  text-shadow: 0px 0px 10px white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.second_product > p {
  padding-left: 0.7rem;
}
#circle {
  position: absolute;
  display: block;
  font-size: 2.9rem;
  padding-top: 2.8rem;
  padding-left: 3.34rem;
  text-shadow: 0px 0px 10px white;
}
